.grab-to-change-size {
  position: absolute;
  background-color: red;
  top: 0;
  height: 100%;
  left: -10px;
  width: 10px;

  cursor: col-resize;

  z-index: 100000;
  /* transition: all ease; */

  user-select: none;
}
