@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-color: #152943;
  --primary-color: #0e1f33;

  /* mail */
  --unread-color: #e5e7eb;
  --unread-border: 1px solid #d1d5db;

  --hightlight: #1d4ed8;

  --border-radius: 10px;

  --header-height: 35px;
}

html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}

.background-blue-900 {
  background-color: #0e1f33;
}

.background-blue-800 {
  background-color: #152943;
}

.background-blue-700 {
  background-color: #1d4ed8;
}

.line-clamp-1,
.line-clamp-3 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.line-clamp-1 {
  -webkit-line-clamp: 1;
}

.line-clamp-3 {
  -webkit-line-clamp: 3;
}

.border-grey-light-hd {
  border-bottom: 1px solid #d1d5db;
}

.mail-sumary-active {
  background-color: #3b82f6;
  color: white !important;
}

.max-width-unset {
  max-width: unset;
}

.is-changing-size {
  user-select: none;
}
